<h1>USUARIOS</h1>
<button class="btn btn-primary">Insertar Usuario</button><br><br>
<div id="formulario">
<div class="row">

  <div class="col-lg-6">
    <select id="Tipo" class="form-control form-select">
      <option value="Administrador" label="Administrador">Administrador</option>
      <option value="General" label="General">General</option>
    </select>
    </div>

  <div class="col-lg-6">
    <input type="text" id="nombre" class="form-control" placeholder="Nombre">
  </div>

  <div class="col-lg-6">
    <input type="email" id="correo" class="form-control" placeholder="Correo Electronico">
    </div>
  </div>


  <div class="row">

    <div class="col-lg-6"></div>
    <input type="password" id="clave" class="form-control" placeholder="Contraseña">

  </div>

  <div class="col-lg-6">
    <input type="tel" id="Celular" class="form-control" placeholder="Ingrese numero telefonico">
  </div>

  <div class="col-lg-6">
    <input type="text" id="Direccion" class="form-control" placeholder="Direccion">
  </div>

</div>

<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3"></div>
<button class="btn btn-primary">Guardar</button>
<button class="btn btn-secondary">Cancelar </button>
  <div class="col-lg-3"></div>
  <div class="col-lg-3"></div>

</div>

<br>
<div class="table-responsive">
  <table class="table table-success table-striped" border="1">
   <tr>
    <th>Tipo de Usuario</th>
    <th>Nombre</th>
    <th>correo</th>
    <th>Celular</th>
    <th>Direccion</th>
    <th>Acciones</th>
   </tr>
   <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>

    </td>
    Editar
    -
    Eliminar
   </tr>
  </table>
</div>
